/* Respondive  */

.btn-bar {
  cursor: pointer;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 1024px) {
  .btn-bar {
    visibility: visible;
    opacity: 1;
  }
  .nav-main ul {
    position: absolute;
    top: 100%;
    left: 0;
    height: full;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    transition: 1s;
    transform: translateY(-110vh);
    /* z-index: 100; */
    /* background: #323232; */
    background: #000;
    color: white;
    padding: 20px 0 0px 16px;
  }

  .nav-main .responsive-nav {
    transform: none;
  }
  .header {
    background: #000;
  }
}
.quantity-cart::before {
  content: attr(data-order);
  font-size: 0.7rem;
  position: absolute;
  bottom: -20%;
  right: -30%;
  height: 15px;
  width: 15px;
  text-align: center;
  border-radius: 50%;
  background: aliceblue;
  color: #434344;
  line-height: 1.4;
}
