body {
  background-color: white;
  font-family: "SFProText" !important ;
}

@font-face {
  font-family: "SFProText";
  src: url(./font/FontsFree-Net-SFProText-Regular.ttf) format("truetype");
}

.transform-default {
  margin: 0 auto;
  max-width: 50vw;
}

@media only screen and (max-width: 1400px) {
  .transform-default {
    max-width: 70vw;
  }
}
@media only screen and (max-width: 1200px) {
  .transform-default {
    max-width: 90vw;
  }
}

@media only screen and (max-width: 1024px) {
  .transform-default {
    max-width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
  }
}
